<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
  <meta name="author" content="{{ site.author.name }}" />
  <meta property="og:title" content="{{ site.author.name }}" />
  <meta property="og:type" content="profile" />
  <meta property="profile:username" content="{{ site.author.name }}" />
  <meta property="profile:gender" content="{{ site.author.gender }}" />
  <meta name="theme-color" content="{{ site.colour }}" />
  <meta name="msapplication-TileColor" content="{{ site.colour }}" />
  <meta name="google-site-verification" content="9Rbt7PQkaDHrU4yBY-lPS9NIPWG7kPbbkDbAkqXRapw" />
  {%- seo -%}

  <!-- This element will have the critical styles included into it as a build step with Node. -->
  <style data-transform-critical></style>

  <!-- Preload some fonts we'll be needing. -->
  <link rel="preload" href="/assets/fonts/HackNerdFontComplete-Bold.ttf" as="font" />
  <link rel="preload" href="/assets/fonts/HackNerdFontComplete-Italic.ttf" as="font" />
  <link rel="preload" href="/assets/fonts/HackNerdFontComplete-Regular.ttf" as="font" />
  <link rel="manifest" href="/assets/manifest.json" />

  <script>
    // Placeholder image for images that haven't had their `src` changes yet. Some browsers can be slow, e.g. mobile, so this is for them.
    // The advantage of doing this is that we can use this in combination with a "min-height" rule so the document doesn't jump about when an image loads, which is just Bad.
    var placeholderImage = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=';

    // Lazy image loader.
    var imageObserver =
      typeof IntersectionObserver != "undefined"
        ? new IntersectionObserver(function (entries)
        {
          for (var index = 0, length = entries.length, value, target; index < length; ++index)
          {
            value = entries[index];
            target = value.target;

            if (value.isIntersecting)
            {
              // Set anything that makes the image load here.
              target.setAttribute('src', target.getAttribute('data-src'));

              // Support for responsive images has speedily arrived.
              if (target.hasAttribute('data-srcset')) target.setAttribute('srcset', target.getAttribute('data-srcset'));
              if (target.hasAttribute('data-sizes')) target.setAttribute('sizes', target.getAttribute('data-sizes'));

              // Remove the CSS flag from the image.
              target.removeAttribute('data-lazy-loading');

              // Remove the "min-height" rule we set earlier, otherwise the image will look silly when the width of the page is smaller than that of the image.
              target.style.minHeight = '';
              target.removeAttribute('data-src');

              // Now we're done, so the unobserve the image as we aren't interested in it anymore.
              imageObserver.unobserve(target);
            }
          }
        }, {
          // When the image is just 40px out of view, load it in, so the user can't tell anything happened.
          rootMargin: '40px',
          threshold: 0
        })
        : void 0;

    // Async image loader.
    function i_(attributesRecord)
    {
      var currentScript = document.currentScript,
        image = new Image();

      for (var key in attributesRecord) (key != "src" && key !== "srcset" && key !== "sizes") && image.setAttribute(key, attributesRecord[key]);
      currentScript.insertAdjacentElement("afterend", image);

      if (imageObserver)
      {
        // Set the image's `src` to a placeholder. Expect the `width` and `height` properties to be filled in so the placeholder stretches.
        image.setAttribute('src', placeholderImage);

        // Set an attribute as a flag for CSS.
        image.setAttribute('data-lazy-loading', '');

        // We need to force the base64 image to scale up, as height doesn't do the job.
        image.style.minHeight = image.getAttribute('height');
        image.setAttribute('data-src', attributesRecord.src);

        // We can't be setting these! The image might load if we do...
        if (attributesRecord.srcset) image.setAttribute('data-srcset', attributesRecord.srcset);
        if (attributesRecord.sizes) image.setAttribute('data-sizes', attributesRecord.sizes);

        // Add the image to the lazy-loading observer.
        imageObserver.observe(image);
      } else
      {
        image.src = attributesRecord.src;
        image.srcset = attributesRecord.srcset;
        image.sizes = attributesRecord.sizes;
      }
    }

    // YouTube video loader.
    function y_(element, query)
    {
      var iframe = document.createElement('iframe');
      iframe.src = 'https://youtube.com/embed/' + query + '&autoplay=1';
      iframe.setAttribute('allowfullscreen', '');
      iframe.setAttribute('autoplay', '');
      iframe.className = 'yt-embed';
      element.parentNode.replaceChild(iframe, element);
      // Here's a hack to give the YouTube iframe a reasonable height. Let this be our little secret.
      iframe.parentNode.className = 'yt-embed-wrap';
    }

    // When the user prints the page, reveal the Table of Contents.
    function beforePrint()
    {
      var toc = document.getElementsByClassName('table-of-contents')[0];

      // The user might not be printing a post.
      if (toc)
      {
        var details = toc.getElementsByTagName('details')[0];

        // Just to be sure...
        if (details)
        {
          details.setAttribute('open', '');
        }
      }
    }

    // I Hate Internet Explorer™
    if (typeof console !== 'undefined') {
      console.log('%cIf you\'re reading this message, you\'re probably interested in how this website was built. Fear not, the source is available here: https://github.com/resynth1943/resynth1943.github.io', 'color: {{ site.colour }};');
    }

    // Attach the event to the document. WebKit does not support this, though, so I might add a polyfill for that in the future.
    document.addEventListener('beforeprint', beforePrint);
  </script>

  <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
</head>