/**
 * Light theme variables
 */

:root {
    --base-color: #000;
    --primary-color: rgb(90, 90, 255);
    --border: dashed 1px rgba(0, 0, 0, 1);
    --selection-background: rgba(0, 0, 0, 0.99);
    --selection-text: #FFF;
    --background-color: #f2e7ff;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --anchor-hover-text-color: rgb(199, 28, 113);
    --link-color: var(--base-color);
    --codeblock-background: rgb(226, 226, 226);
}