/**
 * Style variables
 */
$base-font-family: "Hack Nerd Font", monospace !default;
$base-font-size: 14px !default;
$mobile-font-size: 13px !default;
$base-line-height: 2 !default;
$container-width: 90% !default;
$container-max-width: 1024px !default;
$toc-indent: 4px !default;
$site-colour: #9900FF;
$base-color: var(--base-color);
$primary-color: var(--primary-color);
$border: var(--border);
$selection-background: var(--selection-background);
$selection-text: var(--selection-text);
$background-color: var(--background-color);
$text-color: var(--text-color);
$placeholder-color: var(--placeholder-color);
$anchor-hover: var(--anchor-hover);
$link-color: var(--link-color);
$codeblock-background: var(--codeblock-background);
$anchor-hover-text-color: var(--anchor-hover-text-color);